In [3]:
import numpy as np
import pandas as pd

In [40]:
business_raw_data = pd.read_excel('../raw/business_data.xlsx')

In [7]:
not_needed_columns = ['m_start', 'm_end', 'm_today', 'm_username', 'm_deviceid', 'm_subscriberid', 'm_imei', 
                      'm_phonenumber', '_span_style_color_FF_finances_and_HR_span', 'note_3', '__version__', 
                      '_id', '_uuid', '_submission_time', '_validation_status', '_notes', '_status', '_submitted_by',
                      '_tags', '_index']

In [9]:
downloads_data = business_raw_data.copy()
downloads_data.drop(not_needed_columns, axis=1, inplace=True)

In [10]:
downloads_data.head()

,i_econ_stop_business,i_econ_stop_business_how_lng,i_covid_effect_business__1,i_covid_effect_business__2,i_covid_effect_business__3,i_covid_effect_business__4,i_covid_effect_business__5,i_covid_effect_business__6,i_covid_effect_business__7,i_covid_effect_business__8,...,m_biz_years_in_operation,m_biz_unn_membrshps__1,m_biz_unn_membrshps__2,m_biz_unn_membrshps__3,m_biz_unn_membrshps__4,m_biz_unn_membrshps__5,m_biz_unn_membrshps__6,m_biz_unn_membrshps__7,m_biz_unn_membrshps__8,m_biz_unn_membrshps_other
0,2,4.0,0,0,0,0,0,1,1,0,...,2,0,0,0,0,0,0,1,0,NaN
1,3,NaN,0,1,0,0,0,0,1,0,...,4,0,0,0,0,0,0,0,1,Nepali Handicraft
2,3,NaN,1,0,0,0,0,0,0,0,...,3,1,0,0,0,0,0,1,0,NaN
3,3,NaN,0,0,0,0,0,1,1,0,...,5,1,0,0,0,0,0,0,0,NaN
4,2,4.0,1,0,0,0,0,0,1,0,...,5,1,0,0,1,0,0,0,0,NaN

In [11]:
sensetive_columns = ['m_name_business', 'm_house_no', 'm_street', 'm_coodinates', '_m_coodinates_altitude', 
                     '_m_coodinates_precision', 'm_res_name', 'm_res_designation', 'm_res_mobile', 'm_res_email', 
                     'm_res_biz_phone', 'm_res_biz_email' ]

In [19]:
downloads_data.drop(sensetive_columns, inplace=True, axis=1)

In [20]:
downloads_data

,i_econ_stop_business,i_econ_stop_business_how_lng,i_covid_effect_business__1,i_covid_effect_business__2,i_covid_effect_business__3,i_covid_effect_business__4,i_covid_effect_business__5,i_covid_effect_business__6,i_covid_effect_business__7,i_covid_effect_business__8,...,m_biz_years_in_operation,m_biz_unn_membrshps__1,m_biz_unn_membrshps__2,m_biz_unn_membrshps__3,m_biz_unn_membrshps__4,m_biz_unn_membrshps__5,m_biz_unn_membrshps__6,m_biz_unn_membrshps__7,m_biz_unn_membrshps__8,m_biz_unn_membrshps_other
0,2,4.0,0,0,0,0,0,1,1,0,...,2,0,0,0,0,0,0,1,0,NaN
1,3,NaN,0,1,0,0,0,0,1,0,...,4,0,0,0,0,0,0,0,1,Nepali Handicraft
2,3,NaN,1,0,0,0,0,0,0,0,...,3,1,0,0,0,0,0,1,0,NaN
3,3,NaN,0,0,0,0,0,1,1,0,...,5,1,0,0,0,0,0,0,0,NaN
4,2,4.0,1,0,0,0,0,0,1,0,...,5,1,0,0,1,0,0,0,0,NaN

In [44]:
variable_type_map = pd.read_excel('../data/generated_business_variable_map.xlsx')

In [46]:
variable_type_map.head()

,variable,ques__ne,ques__en,asked_total,queue_index,selected,input_type,group,asked_condition,universe
0,m_biz_years_in_operation,यो कहिलेदेखि काम गर्दै आएको छ?,How long has this been in operation for?,110,0,1,groupby,general,general,110
1,m_biz_type,व्यवसायको प्रकार,Type of business,110,0,1,groupby,general,general,110
2,b_n_emplyes_pre_covid,महामारी भन्दा पहिले तपाईको व्यवसायले कति जनाला...,How many people did your business employ befor...,110,0,1,groupby,general,general,110
3,i_econ_stop_business,के तपाईंले कोभिड-१९ महामारीको कारण आफ्नो व्यवस...,Did you have to stop your business due to COVI...,110,1,1,single-select,impact,general,110
4,i_econ_stop_business_how_lng,कति समय सम्म तपाईंले आफ्नो व्यापार बन्द गर्नु ...,For how long did you have to stop your business?,85,2,1,single-select,impact,business temporarily stopped,110

In [23]:
# nilkantha_ind = pd.read_csv('individual_demographics.csv')
# nilkantha_ind.head()

In [37]:
s_select_columns = variable_type_map[variable_type_map['input_type'] == 'single-select']['variable'].to_list()
group_by_columns = variable_type_map[variable_type_map['input_type'] == 'groupby']['variable'].to_list()
s_select_columns = s_select_columns + group_by_columns
m_select_columns = variable_type_map[variable_type_map['input_type'] == 'multi-select']['variable'].to_list()

In [155]:
labels_map = pd.read_excel('../data/generated_business_labels_map.xlsx')
labels_map = labels_map[['variable', 'value', 'label__en']]

In [156]:
s_select_data = downloads_data[s_select_columns]
s_select_data.fillna(-1, inplace=True)
s_select_data = s_select_data.astype('int')

/home/aadesh/.local/lib/python3.8/site-packages/pandas/core/frame.py:4462: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [157]:
s_select_data.head()

,i_econ_stop_business,i_econ_stop_business_how_lng,i_fin_effect_other,i_wrkfrc_size_chng_2020_v_2019,i_fin_revenue_chng_2020_v_2019,i_fin_savings_chng_2020_v_2019,p_dedictd_covid_desk,n_rcvry_preferred_loan_pybck_incntv,n_rcvry_preferred_fund_aprvl_incntv,n_rcvry_preferred_fin_source,...,o_econ_impact_revenue_chng_21_v_19,o_econ_impact_wrkfrc_chng_21_v_19,o_rcvry_biggest_support,o_perm_stop_biz_future_retrn_trsm_biz,o_perm_stop_biz_start_new_job,m_dist_business,m_mun_business,b_n_emplyes_pre_covid,m_biz_type,m_biz_years_in_operation
0,2,4,2,4,5,6,1,2,-1,-1,...,3,2,2,-1,-1,35,3505,1,6,2
1,3,-1,1,5,5,6,-1,-1,-1,-1,...,-1,-1,-1,1,1,35,3501,3,8,4
2,3,-1,1,4,4,6,-1,-1,-1,-1,...,-1,-1,-1,1,1,35,3501,2,1,3
3,3,-1,1,4,5,6,-1,-1,-1,-1,...,-1,-1,-1,1,1,35,3501,1,7,5
4,2,4,1,4,4,6,1,2,2,1,...,2,3,4,-1,-1,38,3801,5,1,5

In [160]:
s_select_df = []
for i in single_select_columns:
    each_df = pd.DataFrame(s_select_data[i])
    each_label = labels_map[labels_map['variable']==i]
    each_label = each_label[['value', 'label__en']].set_index('value').to_dict()['label__en']
    each_label[-1] = None
    each_df['label'] = each_df[i].apply(lambda x: each_label[x])
    each_df.drop(i, axis=1, inplace=True)
    each_df.columns = [i]
    if len(s_select_df)==0:
        s_select_df = each_df
    else:
        s_select_df = pd.concat((s_select_df, each_df), axis=1)

In [161]:
s_select_df.head()

,i_econ_stop_business,i_econ_stop_business_how_lng,i_fin_effect_other,i_wrkfrc_size_chng_2020_v_2019,i_fin_revenue_chng_2020_v_2019,i_fin_savings_chng_2020_v_2019,p_dedictd_covid_desk,n_rcvry_preferred_loan_pybck_incntv,n_rcvry_preferred_fund_aprvl_incntv,n_rcvry_preferred_fin_source,...,n_rcvry_preferred_outreach_other,o_do_u_know_of_gov_schemes,o_covid_how_long_it_last,o_econ_impact_revenue_chng_21_v_19,o_econ_impact_wrkfrc_chng_21_v_19,o_rcvry_biggest_support,o_perm_stop_biz_future_retrn_trsm_biz,o_perm_stop_biz_start_new_job,m_dist_business,m_mun_business
0,"Yes, temporarily stopped operations",7 to 12 months,No,Workforce size became 25% of 2019,Revenue stopped completely,The business now has negative savings (i.e. it...,No,Extension of loan periods,None,None,...,Business generation programs and events by gov...,"No, I have not used any government scheme but ...",13 to 24 months (till Mar 2023),Revenue is expected to be 50% of 2019,Workforce size will be 25% of 2019,Nepal Tourism Board,None,None,Kathmandu (काठमाडौँ),चन्द्रागिरी नगरपालिका
1,"Yes, permanently stopped",None,Yes,Workforce size became zero,Revenue stopped completely,The business now has negative savings (i.e. it...,None,None,None,None,...,None,None,13 to 24 months (till Mar 2023),None,None,None,Yes,No,Kathmandu (काठमाडौँ),काठमाडौँ महानगरपालिका
2,"Yes, permanently stopped",None,Yes,Workforce size became 25% of 2019,Revenue became 25% of 2019,The business now has negative savings (i.e. it...,None,None,None,None,...,None,None,13 to 24 months (till Mar 2023),None,None,None,Yes,No,Kathmandu (काठमाडौँ),काठमाडौँ महानगरपालिका
3,"Yes, permanently stopped",None,Yes,Workforce size became 25% of 2019,Revenue stopped completely,The business now has negative savings (i.e. it...,None,None,None,None,...,None,None,6 to 12 months (till Mar 2022),None,None,None,Yes,No,Kathmandu (काठमाडौँ),काठमाडौँ महानगरपालिका
4,"Yes, temporarily stopped operations",7 to 12 months,Yes,Workforce size became 25% of 2019,Revenue became 25% of 2019,The business now has negative savings (i.e. it...,No,Extension of loan periods,Long-term subsidized loans,Financial assistance from the government,...,Business generation programs and events by gov...,"Yes, I have used one or more government schemes.",6 to 12 months (till Mar 2022),Revenue is expected to be 25% of 2019,Workforce size will be 50% of 2019,Financial Institutions,None,None,Lalitpur (ललितपुर),ललितपुर महानगरपालिका

In [90]:
variable_column_map = pd.read_csv('../data/business_variable_column_map.csv')

In [92]:
variable_column_map = variable_column_map[['PrevName', 'Name', 'InputType']]

In [93]:
variables.head()

,PrevName,Name,InputType
0,_id,id,general
1,m_today,timestamp,general
2,i_econ_stop_business,stop_business,single-select
3,i_econ_stop_business_how_lng,how_lng_stop_business,single-select
4,i_covid_effect_business__1,business_effect_by_reduced_vol_business,multi-select

In [94]:
business_raw_data.head()

,m_start,m_end,m_today,m_username,m_deviceid,m_subscriberid,m_imei,m_phonenumber,_span_style_color_FF_finances_and_HR_span,i_econ_stop_business,...,__version__,_id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,_tags,_index
0,2021-05-09T21:27:09.350+05:45,2021-05-09T21:51:43.059+05:45,2021-05-09,username not found,ee.humanitarianresponse.info:oSjjxcKD3fLGjKTd,subscriberid not found,ee.humanitarianresponse.info:oSjjxcKD3fLGjKTd,phonenumber not found,NaN,2,...,vwGwixFVQLjhFdchggLZtd,176956231,85b963ad-edac-43de-b125-a19d2c9a3ecf,2021-05-09T16:06:45,NaN,[],submitted_via_web,NaN,NaN,1
1,2021-05-12T12:50:13.627+05:45,2021-05-12T13:11:57.916+05:45,2021-05-12,username not found,ee.humanitarianresponse.info:oxNk2xhpmfcrv75z,subscriberid not found,ee.humanitarianresponse.info:oxNk2xhpmfcrv75z,phonenumber not found,NaN,3,...,vwGwixFVQLjhFdchggLZtd,177451400,9373b8cc-21a0-42f6-b678-57c5d6c309a7,2021-05-12T07:26:54,NaN,[],submitted_via_web,NaN,NaN,2
2,2021-05-02T20:05:08.541+05:45,2021-05-02T20:35:37.673+05:45,2021-05-02,username not found,ee.humanitarianresponse.info:OEiHoxVv1HtWTOHo,subscriberid not found,ee.humanitarianresponse.info:OEiHoxVv1HtWTOHo,phonenumber not found,NaN,3,...,vwGwixFVQLjhFdchggLZtd,175385290,ff50ab74-d8c8-40c0-a1f2-d7976d94adf0,2021-05-02T14:50:39,NaN,[],submitted_via_web,NaN,NaN,3
3,2021-05-01T13:26:15.682+05:45,2021-05-01T14:05:06.671+05:45,2021-05-01,username not found,ee.humanitarianresponse.info:dVxRVqPavIZMj7If,subscriberid not found,ee.humanitarianresponse.info:dVxRVqPavIZMj7If,phonenumber not found,NaN,3,...,vwGwixFVQLjhFdchggLZtd,175184805,efa2f08f-507a-48ed-8c3a-5e63ba114e36,2021-05-01T08:20:08,NaN,[],submitted_via_web,NaN,NaN,4
4,2021-04-25T18:22:16.397+05:45,2021-04-25T18:47:24.652+05:45,2021-04-25,username not found,ee.humanitarianresponse.info:E0Gm309UeytE5rSa,subscriberid not found,ee.humanitarianresponse.info:E0Gm309UeytE5rSa,phonenumber not found,NaN,2,...,vwGwixFVQLjhFdchggLZtd,173657407,c9f99450-9b90-457b-81df-0fb885104831,2021-04-25T13:02:25,NaN,[],submitted_via_web,NaN,NaN,5

In [136]:
rename_dict = variable_column_map[['PrevName', 'Name']].set_index('PrevName').to_dict()["Name"]

In [134]:
business_downloads_data = business_raw_data[variable_column_map['PrevName']]

In [135]:
single_select_columns = variable_column_map[variable_column_map['InputType']=='single-select']['PrevName']

In [66]:
business_downloads_data.rename(columns = rename_dict, inplace=True)

In [67]:
business_downloads_data.head()

,id,timestamp,stop_business,how_lng_stop_business,business_effect_by_reduced_vol_business,business_effect_by_increased_covid_cases,business_effect_by_emplys_covid_situation,business_effect_by_human_resources_shortage,business_effect_by_supply_chain_disruption,business_effect_by_lack_sevices_access,...,perm_stopped_started_construction_property_job,perm_stopped_started_public_services_job,perm_stopped_started_sales_retail_job,perm_stopped_started_teaching_job,perm_stopped_started_logistics_transport_job,perm_stopped_started_other_non_trsm_job,business_dist,business_coodinates,business_type,business_yrs_in_operation
0,176956231,2021-05-09,2,4.0,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN,6,2
1,177451400,2021-05-12,3,NaN,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,35,27.717195 85.310293 0 0,8,4
2,175385290,2021-05-02,3,NaN,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,35,27.711873 85.312743 0 0,1,3
3,175184805,2021-05-01,3,NaN,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN,7,5
4,173657407,2021-04-25,2,4.0,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN,1,5

In [78]:
business_downloads_data['timestamp'] = pd.to_datetime(business_downloads_data['timestamp'])

<ipython-input-78-83fc6f485656>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  business_downloads_data['timestamp'] = pd.to_datetime(business_downloads_data['timestamp'])

In [77]:
business_downloads_data.head()

,id,timestamp,stop_business,how_lng_stop_business,business_effect_by_reduced_vol_business,business_effect_by_increased_covid_cases,business_effect_by_emplys_covid_situation,business_effect_by_human_resources_shortage,business_effect_by_supply_chain_disruption,business_effect_by_lack_sevices_access,...,perm_stopped_started_construction_property_job,perm_stopped_started_public_services_job,perm_stopped_started_sales_retail_job,perm_stopped_started_teaching_job,perm_stopped_started_logistics_transport_job,perm_stopped_started_other_non_trsm_job,business_dist,business_coodinates,business_type,business_yrs_in_operation
0,176956231,2021-05-09,2,4.0,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN,6,2
1,177451400,2021-05-12,3,NaN,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,35,27.717195 85.310293 0 0,8,4
2,175385290,2021-05-02,3,NaN,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,35,27.711873 85.312743 0 0,1,3
3,175184805,2021-05-01,3,NaN,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN,7,5
4,173657407,2021-04-25,2,4.0,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN,1,5

In [79]:
variable_map = pd.read_excel('../data/generated_business_variable_map.xlsx')

In [105]:
s_select_columns = variable_column_map[variable_column_map['InputType'] == 'single-select']['PrevName'].to_list()
m_select_columns = variable_column_map[variable_column_map['InputType'] == 'multi-select']['PrevName'].to_list()

In [133]:
# business_downloads_data

In [119]:
labels_map = pd.read_excel('../data/generated_business_labels_map.xlsx')
labels_map = labels_map[['variable', 'value', 'label__en']]

In [3]:
# for i in single_select_columns:
#     business_downloads_data[i].fillna(-1, inplace=True)
#     i_label_map = labels_map[labels_map['variable']==i]
#     i_label_map = i_label_map[['value', 'label__en']].set_index('value').to_dict()['label__en']
#     i_label_map[-1] = None
#     business_downloads_data[i] = business_downloads_data[i].apply(lambda x: i_label_map[x])

In [121]:
business_downloads_data

,_id,m_today,i_econ_stop_business,i_econ_stop_business_how_lng,i_covid_effect_business__1,i_covid_effect_business__2,i_covid_effect_business__3,i_covid_effect_business__4,i_covid_effect_business__5,i_covid_effect_business__6,...,o_perm_stop_biz_new_job_sector__13,o_perm_stop_biz_new_job_sector__14,o_perm_stop_biz_new_job_sector__15,o_perm_stop_biz_new_job_sector__16,o_perm_stop_biz_new_job_sector__17,o_perm_stop_biz_new_job_sector__18,m_dist_business,m_coodinates,m_biz_type,m_biz_years_in_operation
0,176956231,2021-05-09,2,7 to 12 months,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN,6,2
1,177451400,2021-05-12,3,None,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,35,27.717195 85.310293 0 0,8,4
2,175385290,2021-05-02,3,None,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,35,27.711873 85.312743 0 0,1,3
3,175184805,2021-05-01,3,None,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN,7,5
4,173657407,2021-04-25,2,7 to 12 months,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,176017595,2021-05-05,2,12+ months,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,35,27.713319 85.3127 0 0,8,4
106,176031355,2021-05-05,2,7 to 12 months,1,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,35,27.711537 85.309012 0 0,5,5
107,176228435,2021-05-06,2,12+ months,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN,6,3
108,176510702,2021-05-07,2,Less than a month,1,0,1,0,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,40,26.984036 85.910905 0 0,2,3
109,178003908,2021-05-16,2,1 to 3 months,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,38,27.684944 85.315922 0 0,1,2

In [ ]:
s_select_df = []
for i in single_select_columns:
    each_df = pd.DataFrame(s_select_data[i])
    each_label = labels_map[labels_map['variable']==i]
    each_label = each_label[['value', 'label__en']].set_index('value').to_dict()['label__en']
    each_label[-1] = None
    each_df['label'] = each_df[i].apply(lambda x: each_label[x])
    each_df.drop(i, axis=1, inplace=True)
    each_df.columns = [i]
    if len(s_select_df)==0:
        s_select_df = each_df
    else:
        s_select_df = pd.concat((s_select_df, each_df), axis=1)

# FInal Script

In [281]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [295]:
def generate_download_data(raw_data, variable_label_map, variable_column_map):
    variable_column_map = variable_column_map[['PrevName', 'Name', 'InputType']]
    downloads_data = raw_data[variable_column_map['PrevName']]
    variable_label_map = variable_label_map[['variable', 'value', 'label__en']]
    single_select_columns = variable_column_map[variable_column_map['InputType']=='single-select']['PrevName']
    districts_column = variable_column_map[variable_column_map['InputType']=='dist']['PrevName']
    rename_dict = variable_column_map[['PrevName', 'Name']].set_index('PrevName').to_dict()["Name"]
    downloads_data['m_today'] = pd.to_datetime(downloads_data['m_today'])
    for i in single_select_columns:
        print(i)
        downloads_data[i].fillna(-1, inplace=True)
        downloads_data[i] = downloads_data[i].astype('int')
        if i 'dist' in i:
            i_label_map = variable_label_map[variable_label_map['variable']=='district']
        elif 'rnk1' in i:
            i_label_map = variable_label_map[variable_label_map['variable']==i.replace('_rnk1', '')]
        else:
            i_label_map = variable_label_map[variable_label_map['variable']==i]
        i_label_map = i_label_map[['value', 'label__en']].set_index('value').to_dict()['label__en']
        i_label_map[-1] = np.nan
        downloads_data[i] = downloads_data[i].apply(lambda x: i_label_map[x])
    downloads_data.rename(columns = rename_dict, inplace=True)
    downloads_data.replace('Yes', '1', inplace=True)
    downloads_data.replace('No','0', inplace=True)
    return downloads_data

In [296]:
business_raw_data = pd.read_excel('../raw/business_data.xlsx')
business_variable_label_map = pd.read_excel('../data/generated_business_labels_map.xlsx')
business_variable_column_map = pd.read_csv('../data/business_variable_column_map.csv')

In [297]:
business_download_data = generate_download_data(raw_data=business_raw_data, variable_label_map=business_variable_label_map, 
                                                variable_column_map=business_variable_column_map)

i_econ_stop_business
i_econ_stop_business_how_lng
i_covid_effect_business_rnk1
i_fin_effect_other
b_n_emplyes_pre_covid
i_wrkfrc_size_chng_2020_v_2019
i_fin_revenue_chng_2020_v_2019
i_fin_savings_chng_2020_v_2019
p_dedictd_covid_desk
n_rcvry_preferred_loan_pybck_incntv
n_rcvry_preferred_fund_aprvl_incntv
n_rcvry_preferred_fin_source
n_rcvry_preferred_tax_asstnc
n_rcvry_preferred_tax_asstn_other
n_rcvry_preferred_labor_asstnc
n_rcvry_preferred_outreach_other
o_do_u_know_of_gov_schemes
o_covid_how_long_it_last
o_econ_impact_revenue_chng_21_v_19
o_econ_impact_wrkfrc_chng_21_v_19
o_rcvry_biggest_diffclties_rnk1
o_rcvry_biggest_support
o_perm_stop_biz_future_retrn_trsm_biz
o_perm_stop_biz_start_new_job
m_dist_business
m_biz_type
m_biz_years_in_operation

In [288]:
business_variable_column_map.head()

,Unnamed: 0,PrevName,Name,InputType
0,NaN,_id,id,general
1,NaN,m_today,timestamp,general
2,NaN,i_econ_stop_business,stop_business,single-select
3,NaN,i_econ_stop_business_how_lng,how_lng_stop_business,single-select
4,NaN,i_covid_effect_business__1,business_effect_by_reduced_vol_business,multi-select

In [286]:
business_download_data.head()

,id,timestamp,stop_business,how_lng_stop_business,business_effect_by_reduced_vol_business,business_effect_by_increased_covid_cases,business_effect_by_emplys_covid_situation,business_effect_by_human_resources_shortage,business_effect_by_supply_chain_disruption,business_effect_by_lack_sevices_access,...,perm_stopped_started_construction_property_job,perm_stopped_started_public_services_job,perm_stopped_started_sales_retail_job,perm_stopped_started_teaching_job,perm_stopped_started_logistics_transport_job,perm_stopped_started_other_non_trsm_job,business_dist,business_coodinates,business_type,business_yrs_in_operation
0,176956231,2021-05-09,"Yes, temporarily stopped operations",7 to 12 months,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,Kathmandu,NaN,Trekking,1 to 2 years
1,177451400,2021-05-12,"Yes, permanently stopped",NaN,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Kathmandu,27.717195 85.310293 0 0,Shop/Merchandise,6 to 10 years
2,175385290,2021-05-02,"Yes, permanently stopped",NaN,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Kathmandu,27.711873 85.312743 0 0,Hotel,3 to 5 years
3,175184805,2021-05-01,"Yes, permanently stopped",NaN,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,Kathmandu,NaN,Mountaineering,11 years or above
4,173657407,2021-04-25,"Yes, temporarily stopped operations",7 to 12 months,1,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Lalitpur,NaN,Hotel,11 years or above

In [278]:
workforce_raw_data = pd.read_excel('../raw/workers_data.xlsx')
workforce_variable_column_map = pd.read_csv('../data/workforce_variable_column_map.csv')
workforce_variable_label_map = pd.read_excel('../data/generated_workers_labels_map.xlsx')

In [271]:
workforce_download_data = generate_download_data(raw_data=workforce_raw_data, variable_label_map=workforce_variable_label_map, 
                                                variable_column_map=workforce_variable_column_map)

b_empl_frml_agrmnt_status_pre_covid
b_empl_had_pan_pre_covid
b_empl_wrk_sesonal_period
i_empl_jb_prsnt_status
i_empl_jb_in_tourism_change
i_empl_emplyr_in_tourism_change_post_covid
i_empl_emplyr_in_tourism_prsnt_frml_agrmnt_status

KeyError: 2

In [161]:
workforce_variable_label_map[workforce_variable_label_map['variable']=='i_empl_jb_in_tourism_change']

Empty DataFrame
Columns: [variable, value, label__en, label__ne, variable_group, Unnamed: 5, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14, Unnamed: 15, Unnamed: 16, Unnamed: 17, Unnamed: 18, Unnamed: 19, Unnamed: 20, Unnamed: 21, Unnamed: 22, Unnamed: 23, total, perc_of_total, asked_total, universe, label_index, variable_label]
Index: []

[0 rows x 30 columns]

In [220]:
x = pd.DataFrame({'A': ['YEs', 12, 'NO'], 'B':[0, 'No', 'Yes_sir']})

In [221]:
x.replace('Yes', 1, inplace=True)

In [222]:
x

     A        B
0  YEs        0
1   12       No
2   NO  Yes_sir

In [280]:
# set(workforce_variable_column_map['PrevName']).difference(set(workforce_variable_label_map['variable'].unique()))